body {
    background-color: #000;
}

header {
    color: #fff;
    font-size: 50px;
    text-align: center;
    font-family: "verdana", ubuntu;
}

h2 {
    color: #fff;
    text-align: center;
    font-size: 25px;
}

h3 {
    color: red;
    text-align: center;
<<<<<<< HEAD
    font-size: 25px;
}

.myimage img {
    /* display: flex; */
    /* text-align: center; */
    /* justify-content: center; */
}

.myimage {
    /* text-align: center; */
    display: flex;
    justify-content: center;
}
=======
    font-size: 20px;
}
>>>>>>> 4fc49e625150d9d581d6b4004231ad1fd106fc49
