body {
    background-color: #000;
}

header {
    color: #fff;
    font-size: 50px;
    text-align: center;
    font-family: "verdana", ubuntu;
}

h2 {
    color: fff;
    text-align: center;
    font-size: 25px;
}